<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FeedMe - @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Signika:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="1041300067142-dq864str39ak81umc58uroqi81crn3gi.apps.googleusercontent.com">

    <meta name="google-signin-scope" content="https://www.googleapis.com/auth/drive.metadata.readonly">

    <link rel="stylesheet" href="~/css/dark-mode.css">
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                    <img src="~/Photos/logo.png" height="50px" />
                    <b>&nbsp;FeedMe&nbsp;</b>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @*<li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="LogIn">Log in</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="SignUp">Sign up</a>
                            </li>*@
                        @if ((User.Identity.IsAuthenticated) || (Context.User != null && Context.User.Claims != null && Context.User.Claims.Count() > 0))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Categories" asp-action="Index">Categories</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Restaurants" asp-action="Index">Restaurants</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Dishes" asp-action="Index">Dishes</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="Index">Users</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Cities" asp-action="Index">Cities</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Graph">About Us</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" type="button" data-bs-toggle="modal" data-bs-target="#LoginModal">Categories</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" type="button" data-bs-toggle="modal" data-bs-target="#LoginModal">Restaurants</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" type="button" data-bs-toggle="modal" data-bs-target="#LoginModal">Dishes</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" type="button" data-bs-toggle="modal" data-bs-target="#LoginModal">Users</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" type="button" data-bs-toggle="modal" data-bs-target="#LoginModal">Cities</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" type="button" data-bs-toggle="modal" data-bs-target="#LoginModal">About Us</a>
                            </li>
                        }

                        <!-- Login Modal -->
                        <div class="modal fade" id="LoginModal" aria-hidden="true" aria-labelledby="LoginModalLabel" tabindex="-1">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="LoginModalLabel">Login to your FeedMe account</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        @Html.Partial("~/Views/Users/Login.cshtml", new User())
                                    </div>
                                    <div class="modal-footer">
                                        @*<button class="btn btn-link" data-bs-target="#SignupModal" data-bs-toggle="modal" data-bs-dismiss="modal">Back to first</button>*@
                                        <p class="me-auto">Not registered? <a class="text-right text-primary text-decoration-underline" data-bs-target="#SignupModal" data-bs-toggle="modal" data-bs-dismiss="modal">Click here</a> to register</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Signup Modal -->
                        <div class="modal fade" id="SignupModal" aria-hidden="true" aria-labelledby="SignupModalLabel" tabindex="-1">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="SignupModalLabel">Create a new FeedMe account</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        @Html.Partial("~/Views/Users/Register.cshtml", new User())
                                    </div>
                                    <div class="modal-footer">
                                        @*<button class="btn btn-link" data-bs-target="#LoginModal" data-bs-toggle="modal" data-bs-dismiss="modal">Already registered? Please Login</button>*@
                                        <p class="me-auto">Already registered? <a class="text-right text-primary text-decoration-underline" data-bs-target="#LoginModal" data-bs-toggle="modal" data-bs-dismiss="modal">Click here</a> to login</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        @*Birthday Modal*@
                        @*<div class="modal fade" id="SignupModal" aria-hidden="true" aria-labelledby="SignupModalLabel" tabindex="-1">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="SignupModalLabel">Happy Birthday</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        @Html.Partial("~/Views/Users/Birthday.cshtml", new User())
                                    </div>
                                    <div class="modal-footer">
                                        <p class="me-auto">Already registered? <a class="text-right text-primary text-decoration-underline" data-bs-target="#LoginModal" data-bs-toggle="modal" data-bs-dismiss="modal">Click here</a> to login</p>
                                    </div>
                                </div>
                            </div>
                        </div>*@

                    </ul>

                    @* User Menu *@
                    @if ((User.Identity.IsAuthenticated) || (Context.User != null && Context.User.Claims != null && Context.User.Claims.Count() > 0))
                    {
                        <div class="dropdown">
                            <li class="text-dark dropdown-toggle" href="#" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown">
                                Hello, @User.Identity.Name!
                            </li>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <li><span class="dropdown-item-text">Status: @Context.User.Claims.ToList()[1].Value</span></li>
                                <li><a class="dropdown-item" asp-controller="Users" asp-action="Index">Account Settings</a></li>
                                <li><a class="dropdown-item" asp-controller="MyCarts" asp-action="Details">My Cart</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li><a class="dropdown-item" asp-controller="Users" asp-action="Logout">Logout</a></li>
                            </ul>
                        </div>
                    }
                    else
                    {
                        <li class="nav-item nav-link text-dark" type="button" data-bs-toggle="modal" data-bs-target="#LoginModal">
                            Hello, Guest!
                        </li>
                    }
                    @* MyCart Menu *@
                    @if ((User.Identity.IsAuthenticated) || (Context.User != null && Context.User.Claims != null && Context.User.Claims.Count() > 0))
                    {
                        <a tabindex="0" role="button" title="Cart" data-bs-content="Here will be implementation of the Cart.cshtml" asp-controller="MyCarts" asp-action="Details">
                            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-bag" viewBox="0 0 16 16">
                                <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z" />
                            </svg>
                        </a>
                    }
                    else
                    {
                        <a class="nav-link text-dark" type="button" data-bs-toggle="modal" data-bs-target="#LoginModal">
                            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-bag" viewBox="0 0 16 16">
                                <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z" />
                            </svg>
                        </a>

                    }
                </div>
            </div>
            <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="darkSwitch">
                <label class="custom-control-label" for="darkSwitch">Dark Mode</label>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        <div class="container-fluid bg-white py-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-3">
                        <div class="row">
                            <div class="logo-part">
                                <img src="~/Photos/logo.png" height="50px" />&nbsp;&nbsp;FeedMe

                                <div class="info">
                                    <p><br> <b>Address:</b> Eli Wiesel 2, Rishon Lezion <br> <b>Phone Number:</b> 03-963-4001 <br> <b>Email:</b> feedme@gmail.com <br> <b>Activity time:</b> 10:00 - 02:00 </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-6 px-4">
                                <div class="resturantslinks">
                                    <h6> Top 4 Restaurants</h6>
                                    <div class="row">
                                        <div class="col-md-2"></div>
                                        <div class="col-md-8">
                                            <ul>
                                                <li> <a asp-controller="Restaurants" asp-action="Details" asp-route-id="2"> Pizza Prego </a> </li>
                                                <li> <a asp-controller="Restaurants" asp-action="Details" asp-route-id="12"> McDonalds  </a> </li>
                                                <li> <a asp-controller="Restaurants" asp-action="Details" asp-route-id="27"> Deli Cream </a> </li>
                                                <li> <a asp-controller="Restaurants" asp-action="Details" asp-route-id="15"> Burgers Bar </a> </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-2"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 ">
                                <form class="form-footer my-3" asp-controller="Restaurants" asp-action="Index" method="get">
                                    <h6> Are you looking for your favorite restaurant?</h6>
                                    <input type="text" placeholder="Restaurants" name="SearchString">
                                    <input type="submit" value="Go">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="weatherwidget-io" href="https://forecast7.com/en/31d9734d79/rishon-letsiyon/" data-label_1="RISHON LETSIYON" data-label_2="WEATHER" data-icons="Climacons Animated" data-theme="white_leather">RISHON LETSIYON WEATHER</a>
                <script>
                    !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = 'https://weatherwidget.io/js/widget.min.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'weatherwidget-io-js');
                </script>
            </div>
        </div>

        <div class="copyright">
            <div class="social">
                <a href="https://www.facebook.com/FeedMe-105380358425572"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href="https://www.instagram.com/feedme.0621/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            </div>
            <p><br>Copyright @DateTime.Now.Year | Designed With by <a href="https://localhost:44376/">FeedMe</a></p>
        </div>
    </footer>



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    @*<script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>*@
    <script type="module" src="https://unpkg.com/ionicons@5.4.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule="" src="https://unpkg.com/ionicons@5.4.0/dist/ionicons/ionicons.js"></script>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

    <script src="~/js/dark-mode-switch.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>