@model FeedMe.Models.MyCartItem

@{
    ViewData["Title"] = "Details";
}
<head>
    <link rel="stylesheet" href="~/css/myCartItem.css" />

</head>


<h1>Details</h1>
<div id="dishBody">
    <div class="container">
        <div class="row">
            <div class="container">
                <hr />
                <div class="row">

                    <div class="col dishCardBtn">
                        <img src="@Model.Dish.DishImage">
                    </div>
                    <div class="col-6" tabindex="0">
                        <h4 class="text-center">@Model.Dish.Name</h4>
                        <p class="text-center"> @Model.Dish.Description</p>
                        <p class="text-center"> @Model.Dish.Price₪</p>
                    </div>
                    <div class="col ">

                        <tr>
                            <td>
                                <b>
                                    Is this the quantity you want?
                                </b>

                                @using (Html.BeginForm("Edit", "MyCartItems", FormMethod.Post))
                                {@Html.TextBoxFor(Model => Model.Quantity, new { @type = "number", @min = "1", @max = "50" }) <input type="submit" name="Quantity" value="Add" />}
                                <br />
                                <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a>
                                <br /> <br />

                                <button type="button" class="btn btn-light" onclick="goBack()">Go Back</button>

                            </td>

                        </tr>

                    </div>

                </div>
            </div>

        </div>
    </div>
</div>

