@model IEnumerable<ourProject.Models.Dish>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>


<div id="restaurantBody">
    <div class="container">
        <div class="row">

            @foreach (var dish in Model)
            {
                <div class="container">
                   
                    <div class="row">
                        <div class="col">
                            <img src="@dish.DishImage" width="80%" height="80%" style="border-radius:10px; margin-left:auto; margin-right:auto;">
                        </div>
                        <div class="col-5" tabindex="0">
                            <h5 class="text-center">@dish.Name</h5>
                            <p class="text-center" style="margin-top:auto"> @dish.Description</p>
                        </div>
                        <div class="col">
                            <button type="button"> Add to order </button>
                        </div>
                    </div>
                </div>
            }


        </div>
    </div>
</div>




            @*<table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.DishImage)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Description)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.FoodType)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Price)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Restaurant)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                @foreach (var item in Model) {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DishImage)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FoodType)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Price)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Restaurant.Address)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                            </td>
                        </tr>
                }
                    </tbody>
                </table>
            *@
