@model IEnumerable<FeedMe.Models.Dish>

@{
    ViewData["Title"] = "Dish Homepage";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-controller="Dishes" asp-action="Index" method="get">
    <div class="searchBar">
        <p>
            <b>Dish Name:</b>  <input type="text" name="SearchString" />
            <input type="submit" value="Ok" />
        </p>
    </div>
</form>

<div id="dishBody">
    <div class="container">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-10">
                @foreach (var dish in Model)
                {
                    <div class="row">
                        <div class="g-3">
                            <div class="card dishCardBtn">
                                <div class="row g-0">
                                    <div class="col-md-3">
                                        <img src="@dish.DishImage" class="img-fluid rounded-start" alt="dishLogo">
                                    </div>
                                    <div class="col-md-7" id="bodyBorder">
                                        <div class="card-body">
                                            <h5 class="card-title text-center">@dish.Name</h5>
                                            <p class="card-text text-center">@dish.Description</p>
                                            <p class="card-text text-center"><small class="text-muted">@dish.Price₪</small></p>

                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="col text-center position-absolute top-50 start-50 translate-middle">
                                            <button type="button" id="dishesBtn" class="btn btn-outline-info"> <a asp-controller="MyCartItems" asp-action="Details" asp-route-id="@dish.ID"> Add to order</a> </button>
                                            <div>
                                                <a asp-action="Edit" asp-route-id="@dish.ID">Edit</a>
                                                <a asp-action="Details" asp-route-id="@dish.ID">Details</a>
                                                <a asp-action="Delete" asp-route-id="@dish.ID">Delete</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="col-1"></div>
        </div>
    </div>
</div>