@model FeedMe.Models.ViewJoin
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<link rel="stylesheet" href="~/css/dish.css" />
<div id="">
    <div class="container">
        <div class="row">
            <div class="container">
                <hr />
                <div class="row">
                    <div class="col-3">
                    </div>
                    <div class="col-6" tabindex="0">
                        @foreach (var dish in Model.Dishes)
                        {
                            <h4 class="text-center">@dish.Name</h4>
                            <p class="text-center"> @dish.Description</p>
                            <p class="text-center"> @dish.Price₪</p>
                        }
                        @foreach (var res in Model.Restaurants)
                        {
                            <h4 class="text-center">@res.Name</h4>
                            <p class="text-center"> @res.Description</p>
                            <p class="text-center"> @res.Address</p>
                        }
                    </div>
                    <div class="col-3">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>