@model FeedMe.Models.Category


<head>
    @{
        ViewData["Title"] = "Details of a category";
    }
    <link rel="stylesheet" href="~/css/category.css" />
</head>

<h1>Restaurants</h1>
<div class="container">
    <div class="row">
        @foreach (var res in Model.Restaurants)
        {
            <button id="categoryBtn">
                <div class="card bg-transparent text-center">
                    <a asp-controller="Restaurants" asp-action="Details" asp-route-id="@res.ID">
                        <img src="@res.RestaurantImage" class="itemCard categoryImage">
                        @if (res.RestaurantImage == null)
                        {
                            <img src="~/Photos/notFind.png" class="itemCard categoryImageNotFound">
                        }
                    </a>
                    <div class="card-body">
                        <h5 class="text-center">@res.Name</h5>
                        <tr>
                            <td>
                                <a asp-controller="Restaurants" asp-action="Details" asp-route-id="@res.ID">Details</a> |
                                @if (Context.User.IsInRole("Admin"))
                                {
                                    <a asp-controller="Restaurants" asp-action="Edit" asp-route-id="@res.ID">Edit</a> <text>|</text>
                                    <a asp-controller="Restaurants" asp-action="Delete" asp-route-id="@res.ID">Delete</a>
                                }
                            </td>
                        </tr>

                    </div>
                </div>

            </button>
        }
    </div>
</div>

