@model IEnumerable<FeedMe.Models.Category>

@{
    ViewData["Title"] = "Category Homepage";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">Create New Category</a>
</p>

<form asp-controller="Categories" asp-action="Index" method="get">
    <div class="searchBar">
        <p>
            Category Name: <input type="text" placeholder="Category" name="SearchString" />
            <input type="submit" value="Search" />
        </p>
    </div>
</form>

<div class="container">
    <div class="row">

        @foreach (var category in Model)
        {
            <button id="categoryBtn">
                <div class="card bg-transparent text-center">
                    <a asp-controller="Categories" asp-action="Details" asp-route-id="@category.ID">
                        <img src="@category.CategoryImage" class="itemCard categoryImage">
                        @if (category.CategoryImage == null)
                        {
                            <img src="~/Photos/notFind.png" class="itemCard categoryImageNotFound">
                        }
                    </a>
                    <div class="card-body">
                        <h5 class="text-center">@category.Name</h5>
                        <tr>
                            <td>
                                @*<a asp-action="Details" asp-route-id="@category.ID">Details</a>*@
                                @if (Context.User.Claims.ToList()[1].Value == "Admin")
                                {
                                    <a asp-action="Edit" asp-route-id="@category.ID">Edit</a> <text>|</text>
                                    <a asp-action="Delete" asp-route-id="@category.ID">Delete</a>
                                }
                            </td>
                        </tr>
                    </div>
                </div>
            </button>
        }
    </div>
</div>