@model FeedMe.Models.MyCart


<head>
    @{
        ViewData["Title"] = "Details of a cart";
    }
    <link rel="stylesheet" href="~/css/myCart.css" />
</head>


<h1>Details</h1>

<div id="restaurantBody">
    @*do a css for cart*@
    <div class="container">
        <div class="row">
            @foreach (var group in Model.MyCartItems.GroupBy(g => g.Dish.Restaurant))
            {
                <h4>Restaurant Name : @group.Key.Name</h4>

                @foreach (var myCartItem in group)
                {
                    <div class="container">
                        <hr />
                        <div class="row">

                            <div class="col">
                                <img src="@myCartItem.Dish.DishImage">
                            </div>
                            <div class="col-6" tabindex="0">

                                <h4 class="text-center">@myCartItem.Dish.Name</h4>
                                <p class="text-center"> @myCartItem.Dish.Description</p>
                                <p class="text-center">Amount:  @myCartItem.Quantity</p>
                                <p class="text-center"> @myCartItem.Dish.Price₪</p>
                            </div>
                            <div class="col ">

                                <tr>
                                    <td>
                                        <a asp-controller="MyCartItems" asp-action="Details" asp-route-id="@myCartItem.DishID">Change quantity</a> |
                                        <a asp-controller="MyCartItems" asp-action="Delete" asp-route-id="@myCartItem.ID">Delete</a>
                                    </td>
                                </tr>
                            </div>
                        </div>
                    </div>
                }
            }
            <br />
            <p class="text-center">_________________________________________________________________________________________________</p>
            <p class="text-center">Total payment:  @Model.TotalAmount₪</p>
            <p class="text-center" id="payBtn">
                <button type="button" class="btn btn-outline-info">
                    <a asp-action="Pay" asp-route-id="@Model.ID">&nbsp;Pay&nbsp;</a>
                </button>
            </p>
        </div>
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Delete" asp-route-id="@Model.ID">Delete</a>

    <button type="button" class="btn btn-secondary float-right" onclick="topFunction()" id="myBtn" title="Go to top">Top</button>


</div>
