@model FeedMe.Models.MyCart

@{
    ViewData["Title"] = "Details of a cart";
}
<head>
    <link rel="stylesheet" href="~/css/myCart.css" />
    <h1>Details</h1>
</head>


<div id="restaurantBody">
    @*do a css for cart*@
    <div class="container">
        <div class="row">
            @foreach (var myCartItem in Model.MyCartItems)
            {
                <div class="container">
                    <hr />
                    <div class="row">
                        <div class="col">
                            <img src="@myCartItem.Dish.DishImage">
                        </div>
                        <div class="col-6" tabindex="0">

                            <h4 class="text-center">@myCartItem.Dish.Name</h4>
                            <p class="text-center"> @myCartItem.Dish.Description</p>
                            <p class="text-center">Amount:  @myCartItem.Quantity</p>
                            <p class="text-center"> @myCartItem.Dish.Price₪</p>
                        </div>
                        <div class="col ">

                            <tr>
                                <td>
                                    <a asp-controller="MyCartItems" asp-action="Details" asp-route-id="@myCartItem.DishID">Change quantity</a> |
                                    <a asp-controller="MyCartItems" asp-action="Delete" asp-route-id="@myCartItem.ID">Delete</a>
                                </td>
                            </tr>
                        </div>
                    </div>
                </div>
            }
            <br />
            <p class="text-center">_________________________________________________________________________________________________</p>
            <p class="text-center">Total payment:  @Model.TotalAmount₪</p>
            <p class="text-center" id="payBtn">
                <button type="button" class="btn btn-outline-info">
                    <a asp-action="Pay" asp-route-id="@Model.ID">&nbsp;Pay&nbsp;</a>
                </button>
            </p>
        </div>
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Delete" asp-route-id="@Model.ID">Delete</a>
    <div>
        <br />
        <button type="button" class="btn btn-light" onclick="goBack()">Go Back</button>
    </div>
    <button type="button" class="btn btn-secondary float-right" onclick="topFunction()" id="myBtn" title="Go to top">Top</button>

</div>