@model FeedMe.Models.MyCart

@{
    ViewData["Title"] = "Details of a cart";
}

<h1>Details</h1>


<div id="restaurantBody">
    @*do a css for cart*@
    <div class="container">
        <div class="row">

            @foreach (var myCartItem in Model.MyCartItems)
            {
                <div class="container">
                    <hr />
                    <div class="row">
                        <div class="col">
                            <img src="@myCartItem.Dish.DishImage">
                        </div>
                        <div class="col-6" tabindex="0">

                            <h4 class="text-center">@myCartItem.Dish.Name</h4>
                            <p class="text-center"> @myCartItem.Dish.Description</p>
                            <p class="text-center"> @myCartItem.Dish.Price₪</p>
                        </div>
                        <div class="col ">

                            <tr>
                                <td>
                                    <a asp-controller="cartItem1" asp-action="Edit" asp-route-id="@myCartItem.ID">Edit</a> |
                                    <a asp-controller="cartItem1" asp-action="Details" asp-route-id="@myCartItem.ID">Details</a> |
                                    <a asp-controller="cartItem1" asp-action="Delete" asp-route-id="@myCartItem.ID">Delete</a>
                                </td>
                            </tr>
                        </div>
                    </div>
                </div>
            }
            <p>
                <button type="button" id="dishesBtn" class="btn btn-outline-info"> <a asp-controller="CreditCards" asp-action="Details" asp-route-id="@Model.ID"> Pay</a> </button>
            </p>
        </div>
    </div>
</div>


@*<div>
        <h4>MyCart</h4>
        <hr />
        <dl class="row">
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.TotalAmount)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.TotalAmount)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>*@
