@model IEnumerable<FeedMe.Models.MyCart>


<head>
    @{
        ViewData["Title"] = "Index";
    }
    <link rel="stylesheet" href="~/css/myCart.css" />

</head>


<h1>Index</h1>
<p>
    <a asp-action="Create">Create New</a>
</p>

@if (Context.User.IsInRole("Admin")) {
<form asp-controller="MyCarts" asp-action="Search" method="get">
    <div class="searchBar">
        <p>
            <b>User Name:</b>  <input type="text" placeholder="Select a name" name="SearchString" />
            <input type="submit" value="Search" />
        </p>
    </div>
</form>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsClose)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalAmount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsClose)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }

    </tbody>

</table>
<div>
    <button type="button" class="btn btn-secondary float-right" onclick="topFunction()" id="myBtn" title="Go to top">Top</

</div>


