@*@model FeedMe.Models.Cart1

@{
    ViewData["Title"] = "Details of a cart";
}*@

<!--<h1>Details</h1>

<div id="restaurantBody">--> 
    @*do a css for cart*@
    <!--<div class="container">
        <div class="row">

            @foreach (var cartItem in Model.CartItems)
            {
                <div class="container">
                    <hr />
                    <div class="row">
                        <div class="col">
                            <img src="@cartItem.Dish.DishImage">
                        </div>
                        <div class="col-6" tabindex="0">

                            <h4 class="text-center">@cartItem.Dish.Name</h4>
                            <p class="text-center"> @cartItem.Dish.Description</p>
                            <p class="text-center"> @cartItem.Dish.Price₪</p>
                        </div>
                        <div class="col ">
                            <p>
                                <button type="button" id="dishesBtn" class="btn btn-outline-info"> <a asp-controller="CartItem1" asp-action="Details" asp-route-id="@cartItem.ID"> Pay</a> </button>
                            </p>
                            <tr>
                                <td>
                                    <a asp-controller="cartItem1" asp-action="Edit" asp-route-id="@cartItem.ID">Edit</a> |
                                    <a asp-controller="cartItem1" asp-action="Details" asp-route-id="@cartItem.ID">Details</a> |
                                    <a asp-controller="cartItem1" asp-action="Delete" asp-route-id="@cartItem.ID">Delete</a>
                                </td>
                            </tr>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>-->



@*<div>
        <h4>Cart1</h4>
        <hr />
        <dl class="row">
            @foreach (var cartItem in Model.CartItems)
            {
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => cartItem.Dish)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => cartItem.Dish.Name)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => cartItem.Price)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => cartItem.Price)
                </dd>
            }
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.TotalAmount)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.TotalAmount)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
*@